@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  color: whitesmoke;
  padding: 0 20px;
  background-image: radial-gradient(#14161940 0.9px, #8EDF91 0.7px);
  background-size: 20px 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.back_home_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}

.back_home,
.logout-link {
  font-size: 16px;
  cursor: pointer;
  color: whitesmoke;
  text-align: center;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: #67AE6E;
  border: 2px solid #F8F7FF;
  box-shadow: 4px 4px #00000090;
  transition: 0.3s ease-in-out;
}

.back_home:hover,
.logout-link:hover {
  box-shadow: 2px 2px #00000090;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: pop 0.4s cubic-bezier(0, 0, 0.21, 1);
}

@keyframes pop {
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

.company-profile {
  width: 80%;
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 40px;
  background: #67AE6E;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

.profile-picture {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.profile-details {
  margin-left: 20px;
  text-align: right;
}

.profile-picture img {
  width: 300px;
  height: 210px;
  border-radius: 10px;
}

h2 {
  color: whitesmoke;
  font-size: 1.7rem;
}

.company-profile .edit-button {
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: #E1EEBC;
  border: 2px solid #3587A4;
  box-shadow: 4px 4px #00000090;
  transition: 0.3s ease-in-out;
}

.company-profile .edit-button:hover {
  box-shadow: 2px 2px #00000090;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ACE1AF;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  position: relative;
  background-color: #E6E6FA;
  margin: 10% auto;
  padding: 25px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #90C67C;
  animation: slideIn 0.4s ease;
}

.modal-content h2 {
  color: #141619;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #141619;
  float: right;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
}

.close:hover {
  color: #87785F;
}

.history_table {
  overflow: auto;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.history,
.stock {
  width: 80%;
  background: #90C67C;
  padding: 40px;
  margin-bottom: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  color: #fff;
}

.history {
  background-color: #67AE6E

}

.history table,
.stock table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.history th,
.stock th,
.history td,
.stock td {
  padding: 15px 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.history td,
.stock td {
  color: #ffffff;
}

button.order-button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 40px;
  font-size: 16px;
  color: #141619;
  background: #F8F7FF;
  border: 1px solid transparent;
  transition: 0.5s ease-in-out;
}

button.order-button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.order-form-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.order-form-content {
  background: #36454F;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  width: 80%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 0.4s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.order-form-content h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.order-form-content form {
  width: 100%;
}

.order-form-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: whitesmoke;
}

.order-form-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.order-form-content input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.order-form-content button {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.order-form-content button:hover {
  background: #ccc;
}

.order-form-content table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.order-form-content th,
.order-form-content td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.order-form-content th {
  font-weight: 700;
  color: whitesmoke;
}

.order-form-content td {
  color: #ddd;
}

.order-form-content .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.order-form-content .close-btn:hover {
  color: #ccc;
}

/* Add these styles for edit profile modal elements */
.edit-input-box {
  margin: 15px 0;
}

.edit-input-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #14161990;
  border-radius: 5px;
  background: transparent;
  color: #141619;
  font-size: 16px;
}

.submit-btn {
  float: right;
  padding: 8px 12px;
  text-decoration: none;
  color: #F2ECE4;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
  background-color: #87785F;
  border: 2px solid #E6E6FA;
  box-shadow: 4px 4px #00000090;
  transition: 0.4s ease-in-out;
}

.submit-btn:hover {
  box-shadow: 2px 2px #000000bb;
}

#edit-profile-btn {
  font-size: 13px;
  color: whitesmoke;
  cursor: pointer;
  padding: 5px 12px;
  margin-top: 15px;
  border-radius: 7px;
  background-color: #90C67C;
  border: 2px solid #C5D6BC;
  box-shadow: 4px 4px #00000090;
  transition: 0.3s ease-in-out;
}

#edit-profile-btn:hover {
  box-shadow: 2px 2px #00000090;
}

/* Success Message */
.success-message {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  color: #333;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  z-index: 1000;
  text-align: center;
  display: none;
}

.success-message p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

.success-message button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.success-message button:hover {
  background: #555;
}

.summary {
  background: #90C67C;
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 80%;
  margin-bottom: 40px;
}

.summary h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

.summary table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.summary th,
.summary td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
}

.summary th {
  font-weight: bold;
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.1);
}

.summary td {
  color: #F5F5F5;
}

.summary tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
  /* Subtle alternate row color */
}

@media screen and (max-width: 768px) {
  .company-profile {
    width: 100%;
    padding: 20px;
  }

  .profile-picture {
    flex-direction: column;
    align-items: center;
  }

  .profile-picture img {
    width: 80%;
  }
}