body {
    background-color: #F1FFFA;
    opacity: 0.8;
    background-image: radial-gradient(#14161940 0.9px, #E1EEBC 0.7px);
    background-size: 20px 20px;
    font-family: "Nunito", sans-serif;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.back_home {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    padding: 6px 16px;
    border-radius: 8px;
    background-color: #87785F;
    border: 2px solid #ececec;
    box-shadow: 4px 4px #00000090;
    transition: 0.3s ease-in-out;
}

.back_home:hover {
    box-shadow: 2px 2px #00000090;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 450px;
    height: 360px;
    margin-top: 4.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #e5e5f7;
    box-shadow: 5px 5px #00000090;
    border-radius: 40px;
    transition: 0.2s ease-in-out;
    animation: pop 0.5s cubic-bezier(0, 0, 0.21, 1)
}

@keyframes pop {
    0% {
        transform: scale(0.3);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px #000000ba;
}

.label {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 5px;
}

#uc {
    background-color: #67AE6E
    ;
}

#cc {
    background-color: #90C67C;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 80vw;
        height: 50vw;
        margin: 10px 0;
        padding: 20px;
    }
}