* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #F2ECE4;
    /* opacity: 0.8; */
    background-image: radial-gradient(#14161940 0.9px, #D6EFD8 0.7px);
    background-size: 20px 20px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.back_home {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    padding: 7px 18px;
    border-radius: 8px;
    color: #141619;
    border: 1px solid #141619;
    background-color: #90C67C;
    box-shadow: 4px 4px 1px #141619ee;
    transition: 0.3s ease-in-out;
}

.back_home:hover {
    box-shadow: 2px 2px #00000090;
}

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
}

.wrapper {
    width: 450px;
    background-color: #80AF81 ;
    border: 2px solid transparent;
    box-shadow: 4px 4px 1px #141619bb;
    border: 2px solid #14161950;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    transition: 0.2s ease-in-out;
    animation: pop 0.7s cubic-bezier(0, 0, 0.21, 1);
}

@keyframes pop {
    0% {
        transform: scale(0.3);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.wrapper:hover {
    box-shadow: 2px 2px #141619dd;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    transition: 0.3s ease-in-out;
}

.input-box input:hover,
.input-box input:focus-within {
    border: 2px solid #F8F0FB;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.wrapper .btn:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.wrapper .link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link p a {
    text-decoration: none;
    font-weight: bold;
    color: #141619c7;
}

.link p a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 20px;
    }
    .input-box input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
}
