* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2ECE4;
    background-image: radial-gradient(#14161940 0.9px, #9EDF91 0.7px);
    background-size: 20px 20px;
    color: #141619;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_home_div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: fit-content;
    margin: 15px 0;
}

.nav-link {
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: #F2ECE4;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 7px;
    background-color: #254336BB;
    border: 2px solid #E0FBE2DD;
    box-shadow: 3px 4px #00000090;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    box-shadow: 2px 2px #00000090;
}

#home {
    border-color: transparent;
}

.wrapper {
    width: 90%;
    margin: 20px 0;
    height: fit-content;
    background-color: #43685090; 
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
    color: #fff;
    border-radius: 10px;
    padding: 40px;
    animation: pop 0.5s cubic-bezier(0, 0, 0.21, 1);
}

@keyframes pop {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

.profile_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin-bottom: 20px;
    height: 18vw;
}

.user-summary {
    width: 40%;
    height: 100%;
    border-radius: 8px;
    background: #E0FBE2DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
}

.user-summary table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: #141619;
    align-items: center;
}

.user-summary th,
td {
    border-bottom: 1px solid black;
    text-align: left;
}

.user-summary th {
    font-size: 1.2rem;
}

.user-info {
    /* background: #E0FBE2;     */
    background: #E0FBE2DD;
    display: flex;
    min-height: 100%;
    height: fit-content;
    border-radius: 5px;
    width: 55%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #141619;
    padding: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.info {
    font-size: 1.05rem;
    line-height: 170%;
    color: #141619;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-info h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.profile_buttons {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.transactions {
    padding: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 40px auto;
    width: 100%;
    color: #BFF6C3;
}

h2 {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;
    font-size: 1.7rem;
}

.transactions-container {
    background-color: #BFF6C3;
    overflow: auto;
    max-height: 350px;
    scrollbar-width: thin;
    scrollbar-color: #585858 transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.transactions-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: black;
    font-size: 1rem;
}

.transactions-container th {
    background-color: #24242450;
    font-weight: bold;
    font-size: 1.1rem;
}

.transactions-container th,
.transactions-container td {
    text-align: center;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.transactions-container tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}

.bottom_section {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.new-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px 40px;
    background: #E0FBE2DD;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: #141619;
}

.new-order h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

.items-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    min-width: 500px;
    background: transparent;
}

#branch {
    background: transparent;
    color: #141619ee;
    padding: 5px 15px;
    width: 35%;
}

#branch option {
    color: black;
    background: #80808090;
}

.input-box {
    margin-bottom: 20px;
    background: transparent;
    padding-left: 20px;
}

.item-group {
    display: flex;
    border: 1px solid #14161990;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 5px 0;
}

.input-box label,
.item-group label {
    width: 150x;
    margin-right: 20px;
    font-size: 15px;
    color: #141619;
}

.input-box select,
.item-group input[type="number"],
.withdraw input[type="number"] {
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #14161990;
    width: 20%;
    max-width: 400px;
    min-width: 120px;
    background: transparent;
    color: #141619;
}

.item-group input[type="number"] {
    width: 100px;
    color: #141619;
}

.cardboard {
    height: 10px;
}

.submit-btn {
    float: right;
    margin: 15px 0;
    padding: 8px 16px;
    text-decoration: none;
    color: #F2ECE4;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 8px;
    background-color: #254336BB ;
    border: 2px solid #E6E6FA;
    box-shadow: 3px 4px #00000090;
    transition: 0.4s ease-in-out;
}

.submit-btn:hover {
    box-shadow: 2px 2px #000000bb;
}

.extra_board {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.withdraw {
    width: 100%;
    background: #E0FBE2DD;
    color: #141619;
    border-radius: 3px;
    padding: 2% 5%;
    text-align: center;
}

.withdraw form {
    margin-top: 15px;
    font-size: 22px;
}

#reward {
    background-color: #90C67C;
    border-color: #36454F;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease;
}

.modal-content {
    position: relative;
    background-color: #E6E6FA;
    margin: 10% auto;
    padding: 10px 25px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    overflow: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #141619;
    animation: slideIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #141619;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #87785F;
}

.edit-input-box {
    margin: 15px 0;
}

.edit-input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #14161990;
    border-radius: 5px;
    background: transparent;
    color: #141619;
    font-size: 16px;
}

#edit-profile-btn {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .profile_card {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 30px; 
    }

    .user-info {
        width: 90%;
        padding: 10% 5%;
        font-size: 14px;
    }

    .user-summary {
        width: 90%; 
        padding: 5%;
        font-size: 14px;
    }

    .user-summary table {
        font-size: 14px;
        width: 100%;
        border-spacing: 8px; 
    }

    .user-summary th, 
    .user-summary td {
        font-size: 1rem;
        text-align: center; 
        padding: 10px; 
    }

    .user-summary th {
        font-weight: bold;
        background: #A8C8A8; 
        padding: 12px; 
    }

    .transactions-container {
        max-height: 250px; 
        overflow-x: auto; 
    }

    .transactions-container table {
        min-width: 600px; 
        font-size: 14px;
    }
    .transactions-container th {
        font-size: 1rem;
    }
    .wrapper {
        width: 95%;
        margin: 20px 0;
        padding: 10px;
    }

    .bottom_section {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .new-order {
        width: fit-content; 
        padding: 15px;
        text-align: center;
        overflow: auto;
        margin-bottom: 20px;
    }

    .items-section {
        width: 100%;
        min-width: 200px;
    }
    .item-group {
        display: flex;
        padding: 15px;
        text-align: left;
        justify-content: space-between;
        gap: 10px;
        margin: 10px 0 20px 0;
    }
    .input-box {
        padding: 20px;;
        text-align: left;   
    }
    .item-group label {
        width: 100%;
        text-align: center;
        margin-bottom: 5px; 
    }
    .input-box select,
    .item-group input[type="number"] {
        width: 100%; 
        max-width: none;
    }

    .submit-btn {
            float:none;
            margin: 15px 0;
            padding: 8px 10px;
            font-size: 12px;
        }

        .extra_board {
            width: 100%;
            margin-left: 0;
            padding: 0px;
            text-align: center;
            margin-bottom: 20px;
        }

        .withdraw {
            width: 100%;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
    
        .withdraw form {
            font-size: 18px; 
            margin-top: 15px;
        }
    
        .withdraw input[type="number"] {
            width: 100%; 
            max-width: none;
            margin-top: 10px;
    
       }
       #reward {
        float:center;
        margin: 15px 0;
        padding: 8px 10px;
        font-size: 12px;
    }
    .profile_card {
        flex-direction: column;
        height: auto;
    }
    .user-summary, .user-info {
        width: 100%;
        text-align: center;
    }
    .transactions-container {
        overflow-x: auto;
    }  
}
