<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlterUSE</title>
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rampart+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav>
        <a href="#" class="logo">AlterUSE</a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Find Bin</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>

        <!-- <a href="/templates/sign_up.html" class="login"><i class="fa fa-user"></i> Login</a> -->
        <a href="/signup" class="login"><i class="fa fa-user"></i> Login</a>
        <!-- <a href="/templates/sign_up.html" target="_blank" class="login"><i class="fa fa-user"></i> Login</a> -->
    </nav>

    <div class="content">
        <div class="page-content">
            <p>This recycling system will be a web-based application designed to encourage individuals and communities
                to
                participate in recycling efforts. The system will provide a platform where users can report their
                collections of
                recyclable items, such as plastic bottles, aluminum cans, and glass bottles/jars, locate nearby
                recycling
                bins,
                track their recycling history, and earn rewards based on their contributions. The platform will also
                provide
                data insights for recycling companies to optimize recycling operations, manage recycling bins, and
                review
                recycling statistics. This project will align with Sustainable Development Goal (SDG) 12: Responsible
                Consumption and Production. This goal seeks to ensure sustainable management of resources and reduce
                waste
                through prevention, reduction, recycling, and reuse."</p>
        </div>
    </div>
</body>

</html>