<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- <link rel="stylesheet" href="/app/static/admin_dash_style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_dash_style.css' ) }}">
    <!-- <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> -->
</head>

<body>
    <div class="container">
        <div class="back_home_div">
            <div><a href="/" class="nav-link">Home</a></div>
        </div>

        <div class="wrapper">
            <div class="profile_card">
                <div class="user-photo"></div>
                <div class="user-info">
                    <div class="info">
                        <h1>Administrator Account</h1>
                        <p>{{ email }}</p>
                    </div>
                    <div><a href="/logout" class="nav-link">Logout</a></div>
                </div>
            </div>

            <div class="transactions-container">
                <h2>Registered Users</h2>
                <div class="table-div">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Date Joined</th>
                                <th>Edit</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if users %}
                            {% for user in users %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                                <td><a href="#usub_table" onclick="user_submissions_func('{{ user[1] }}')"><u><i>view
                                                log</i></u></a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No submissions found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <hr class="divider">

                <h2>Registered Companies</h2>
                <div class="table-div">
                    <table>
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Date Joined</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if companies %}
                            {% for company in companies %}
                            <tr>
                                <td>{{ company[0] }}</td>
                                <td>{{ company[1] }}</td>
                                <td>{{ company[2] }}</td>
                                <td>{{ company[3] }}</td>
                                <td><a href="#csub_table"
                                        onclick="company_submissions_func('{{ company[1] }}')"><u><i>view
                                                log</i></u></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No submissions found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <hr class="divider">

                <h2 id="usub_table"></h2>
                <div class="table-div" id="user_history" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Branch</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="4">No submissions found.</td>
                        </tr>

                        <tbody>

                        </tbody>
                    </table>
                </div>

                <hr class="divider">

                <h2 id="csub_table"></h2>
                <div class="table-div" id="company_history" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="4">No submissions found.</td>
                        </tr>

                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div id="editSubmissionModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <h2>Edit Submission</h2>
                <!-- <div class=""></div> -->
                <form method="POST">
                    <div class="label-grp">
                        <label for="plastic">Plastic Bottles:</label>
                        <input type="number" id="plastic" name="plastic" value="{{ plastic }}" required>
                    </div>
                    <div class="label-grp">
                        <label for="cardboard">Cardboard:</label>
                        <input type="number" id="cardboard" name="cardboard" value="{{ cardboard }}" required>
                    </div>
                    <div class="label-grp">
                        <label for="glass">Glass:</label>
                        <input type="number" id="glass" name="glass" value="{{ glass }}" required>
                    </div>
                    <div class="label-grp">
                        <button type="submit" name="action" id="delete" value="delete">Delete Submission</button>
                        <button type="submit" name="action" value="edit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- <td><a href="/admin_post/${user_submissions.sub_id}">Edit</a></td> -->

    <script>
        function user_submissions_func(email) {
            const formContainer = document.getElementById('user_history');
            formContainer.style.display = 'block';
            formContainer.scrollIntoView({ behavior: 'smooth' });

            fetch(`/usub_admin/${email}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => response.json())
                .then(data => {
                    const user_submissions = data.user_submissions;
                    const tableBody = document.querySelector('#user_history table tbody');
                    if (!tableBody) {
                        console.error('Table body not found!');
                        return;
                    }
                    tableBody.innerHTML = '';

                    const title = document.getElementById('usub_table');
                    console.log(user_submissions);
                    console.log(user_submissions[0].user_email);
                    title.innerHTML = `Submission History for ${user_submissions[0].user_email}`;

                    user_submissions.forEach(user_submissions => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td>${user_submissions.sub_description}</td>
                    <td>${user_submissions.sub_branch}</td>
                    <td>${user_submissions.sub_date}</td>
                    <td><a href="#editSubmissionModal" onclick="openModal(${user_submissions.sub_id})"><u><i>edit</i></u></a></td>`
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function company_submissions_func(email) {
            const formContainer = document.getElementById('company_history');
            formContainer.style.display = 'block';
            formContainer.scrollIntoView({ behavior: 'smooth' });

            fetch(`/csub_admin/${email}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => response.json())
                .then(data => {
                    const company_submissions = data.company_submissions;
                    const tableBody = document.querySelector('#company_history table tbody');
                    if (!tableBody) {
                        console.error('Table body not found!');
                        return;
                    }
                    tableBody.innerHTML = '';

                    const title = document.getElementById('csub_table');
                    title.innerHTML = `Submission History for ${company_submissions[0].company_email}`;

                    company_submissions.forEach(company_submissions => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td>${company_submissions.order_description}</td>
                    <td>${company_submissions.order_date}</td>
                    <td><a href="/admin_post/${company_submissions.order_id}"><u><i>edit</i></u></a></td>
                `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function openModal(sub_id) {
            document.getElementById('editSubmissionModal').style.display = 'block';
            fetch(`/uedit_admin/${sub_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('plastic').value = data.plastic;
                    document.getElementById('cardboard').value = data.cardboard;
                    document.getElementById('glass').value = data.glass;
                })
        }

        function closeModal() {
            document.getElementById('editSubmissionModal').style.display = 'none';
        }

        window.onclick = function (event) {
            const modal = document.getElementById('editSubmissionModal');
            if (event.target === modal) {
                closeModal();
            }
        };
    </script>

</body>

</html>