<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css' ) }}">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>

<body>
    <div class="container">
        <a href="/" class="back_home">Home</a>
        <div class="wrapper">
            <form action="/user_signup" method="post">
                <h1>User Signup</h1>

                <div class="input-box">
                    <input type="text" name="name" placeholder="Name" required>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <input type="text" name="location" placeholder="Location" required>
                    <i class='bx bx-current-location'></i>
                </div>

                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box">
                    <input type="password" name="password2" placeholder="Retype Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <button type="submit" class="btn">Sign Up</button>

                <div class="link">
                    <p>Have an account? <a href="/user_login">Login</a></p>
                </div>

            </form>
        </div>
    </div>

    <script>
        const password = document.querySelector('input[name="password"]');
        const password2 = document.querySelector('input[name="password2"]');
        const form = document.querySelector('form');

        form.addEventListener('submit', (e) => {
            if (password.value !== password2.value) {
                e.preventDefault();
                alert('Passwords do not match');
            }
        });
    </script>
</body>